<div class="md:flex bg-white sm:py-8 lg:py-12">
  <h2 class="text-white text-5xl text-center p-2 text-opacity-50 bg-indigo-500 rounded-lg ">Log in</h2>

  <div class="max-w-screen-2xl px-4 md:px-8 mx-auto">

    <div class="m-2">
      <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post do %>
      <svg class="bg-yellow-200 h-12 w-12 text-white rounded-lg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z"/>
        <path d="M17.788 5.108A9 9 0 1021 12h-8"/>
      </svg>
        <p class="font-semibold">Google</p>
      <% end %>
    </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mt-4">
        <%= f.label :email, class: "text-lg font-semibold"  %><br/>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600", placeholder: "Email" %>
      </div>

      <div class="mt-4">
        <%= f.label :password , class: "text-lg font-semibold" %><br/>
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full px-4 py-2 mt-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mt-4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "inline-block bg-indigo-500 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-opacity-50 text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3" %>
      </div>
      Sign up
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>