<div class="mx-4">
  <%= form_with(model: post) do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="mt-5">
      <%= form.label :categorym, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_field :category, class: "shadow appearance-none focus:ring-indigo-500 focus:border-indigo-500 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-100" %>
    </div>

    <div class="mt-5">
      <%= form.label :content, class: "block text-sm font-medium text-gray-700" %>
      <%= form.text_area :content, class: "shadow appearance-none focus:ring-indigo-500 focus:border-indigo-500 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-100" %>
    </div>

    <div class="mt-5">
      <%= form.label :author %>
      <%= form.text_field :author, class: "shadow appearance-none focus:ring-indigo-500 focus:border-indigo-500 border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline bg-gray-100" %>
    </div>

    <div class="mt-10 my-10">
      <%= form.submit "保存する",class: "lg:mt-2 xl:mt-0 flex-shrink-0 inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded" %>
    </div>
  <% end %>
</div>