<p id="notice"><%= notice %></p>

<h1 class="text-lg leading-6 font-medium text-red">読上げ掲示板</h1>
<p>
<hr>
  使用方法の説明
<hr>
  New Post ー＞　Create Postでコンテントを追加できます。<br>
  登録後、再生ボタンで読み上げができます。停止ボタンで読み上げ停止ができます。<br><br>

  すでに登録されているコンテントの再生は、Show　ー＞再生ボタンで読み上げが可能です。<br><br><br><br>
</p>
<hr>


<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td ><%= post.content %></td>
        <td><%= post.author %></td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
<!--        <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>-->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
