
<div class="mt-10 mx-2">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-5 mx-auto">
      <div class="flex flex-wrap -mx-4 -my-8">
        <div class="py-2 px-4">
          <div class="h-full flex items-start">
            <div class="w-12 flex-shrink-0 flex flex-col text-center leading-none">
              <span class="text-gray-500 pb-2 mb-2 border-b-2 border-gray-200"><%= @post.category %></span>
              <%# <span class="font-medium text-lg text-gray-800 title-font leading-none"></span> %>
            </div>

            <div class="flex-grow pl-6">
              <h2 class="tracking-widest text-xs title-font font-medium text-indigo-500 mb-1">CONTENT</h2>
                <h1 id="speechtxt" class="title-font text-xl font-medium text-gray-900 mb-3 bg-indigo-100 border-0 py-2 px-8 rounded hover:bg-gray-100"><%= @post.content %></h1>
              <div>
                <div class="flex space-x-2">
                <button id="start" class="title-font text-xl font-medium text-white mb-3 bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">再生</button>
                <button id="stop" class="title-font text-xl font-medium text-white mb-3 bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg">停止</button>
                </div>
                <div>
                  <div>
                  </div>
                  <div>
                    <p class="leading-relaxed mb-5"></p>
                    <span class="flex-grow flex flex-col pl-3">
                <span class="text-gray-600 pb-2 mb-2 border-b-2 border-gray-100">投稿者:<%= @post.author %></span>
              </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <%= link_to 'Back', posts_path %>
    </div>

  </section>

  <%= javascript_pack_tag 'speech' %>
</div>